
hr {
  border-width: 1px 0 0;
  border-color: #ccc;
}
.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 30px 30px;
  margin: 0 0 0px 0;
  border-left: 0px!important;
  border-radius: 4px;
}
.alert .alert-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px 0 0;
}
.alert .alert-text {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.alert .alert-icon i {
  font-size: 20px;
}
.alert-primary {
  background: #2a73cc;
  color: #fff;
}
.alert-success {
  background: #8ca31a;
  color: #fff;
}
.alert-warning {
  background: #d10f2f;
  color: #fff;
}
.alert-default {
  background: #E0E0E2;
  color: #495057;
}
.error, .success, .alert {
  border-left: 0px;
}
.name {
  color: #981e32;
  font-family: 'roboto';
  margin-bottom: 20px;
}
.btn.btn-default {
  border: 0;
  background: #eee;
  color: #74788d;
  border: 1px solid #e8ecfa;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 16px;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn.btn-default:hover {
  background: #981e32;
  color: #fff!important
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.panel {
  background-color: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;

}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.panel-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: #333333;
  display: inline-block;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
}
.panel-heading h3 {
  margin-bottom: 0px;
}
.panel-body a {
  font-weight: bold;
}
.panel-body {
  padding: 15px 25px 25px 25px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 17px;
}
.panel-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: flex-first;
  align-content: flex-first;
}
.panel-heading .tools {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.panel-heading .tools button:hover {
  color: #981e32;
}
.panel-footer {
  border-top: 1px solid #ccc;
  padding: 10px;
}
.panel-footer .panel-body {
  margin: 0px;
  padding: 0px 20px 20px 20px;
}
.panel-footer-heading {
  font-size: 17px;
  padding: 20px 20px 20px 20px;
}
.panel-footer ul {
  margin-top: 0px;
}
.panel-footer h5, .panel-footer h4 {
  font-weight: bold;
}
.panel-footer .warning-text {
  color: #d10f2f
}
.panel-footer.warning {
  background: #f8d7da;
  margin-top: 0px;
}
.alert {
  border-left: 5px solid #d10f2f;
}
.panel-heading .fas {
  margin-right: 5px;
}
.panel-default .panel-heading .fas {
  color: #981e32;
}
.panel-primary .panel-heading {
  background: #2a73cc;
  color: #fff;
}
.panel-inactive .panel-heading {
  background: #E0E0E2;
  color: #495057;
}
.panel-inactive .fas {
  color: #555;
}
.panel-success .panel-heading {
  background: #8ca31a;
  color: #fff;
}
.panel-warning .panel-heading {
  background: #d10f2f;
  color: #fff;
}
.success-text {
  color: #8ca31a;
  font-weight: bold;
}
.location-name {
  margin-bottom: 0px;
  font-weight: bold;
}
.location-address {
  font-size: 14px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
}
.table thead {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody+tbody {
  border-top: 2px solid #dee2e6;
}
.table .table {
  background-color: #fff;
}
.table-sm th, .table-sm td {
  padding: 0.3rem;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
}
.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 2px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-primary, .table-primary>th, .table-primary>td {
  background-color: #b8daff;
}
.table-hover .table-primary:hover {
  background-color: #9fcdff;
}
.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
  background-color: #9fcdff;
}
.table-secondary, .table-secondary>th, .table-secondary>td {
  background-color: #d6d8db;
}
.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}
.table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th {
  background-color: #c8cbcf;
}
.table-success, .table-success>th, .table-success>td {
  background-color: #c3e6cb;
}
.table-hover .table-success:hover {
  background-color: #b1dfbb;
}
.table-hover .table-success:hover>td, .table-hover .table-success:hover>th {
  background-color: #b1dfbb;
}
.table-info, .table-info>th, .table-info>td {
  background-color: #bee5eb;
}
.table-hover .table-info:hover {
  background-color: #abdde5;
}
.table-hover .table-info:hover>td, .table-hover .table-info:hover>th {
  background-color: #abdde5;
}
.table-warning, .table-warning>th, .table-warning>td {
  background-color: #ffeeba;
}
.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}
.table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th {
  background-color: #ffe8a1;
}
.table-danger, .table-danger>th, .table-danger>td {
  background-color: #f5c6cb;
}
.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}
.table-hover .table-danger:hover>td, .table-hover .table-danger:hover>th {
  background-color: #f1b0b7;
}
.table-light, .table-light>th, .table-light>td {
  background-color: #fdfdfe;
}
.table-hover .table-light:hover {
  background-color: #ececf6;
}
.table-hover .table-light:hover>td, .table-hover .table-light:hover>th {
  background-color: #ececf6;
}
.table-active, .table-active>th, .table-active>td {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.table-hover .table-active:hover>td, .table-hover .table-active:hover>th {
  background-color: rgba(0, 0, 0, 0.075);
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm>.table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md>.table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg>.table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl>.table-bordered {
    border: 0;
  }
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive>.table-bordered {
  border: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 9px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
tr.column>th, tr.column>td, .column {
  background: none;
}
.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
ul.list-group {
  margin: 0px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 0px 10px 0px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.list-group h6 {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.list-group-item li:last-child {
  border-bottom: 0px;
}
.part h3 {
  color: #981e32;
}
.part_rows_container {
  padding: 10px;
}
.contact-title {
  font-weight: bold;
}
.contact-title {
  color: #981e32;
}
.contact-details {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #595d6e;
}
.contact-details a {
  font-weight: normal;
  color: #555;
}
.contact-name {
  margin-top: 3px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #555;
}
@media only screen and (max-width: 736px) and (min-width: 320px) {
  table.table td {
    padding: 10px!important
  }
}